/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui" {
  theme: "night"
};

@font-face {
  font-family: 'Montserrat';
    font-style: normal;
  src: url('../public/assets/fonts/montserrat-alternates/MontserratAlternates-Medium.ttf') format('truetype');
}

@theme {
  --font-montserrat: "Montserrat", system-ui, sans-serif;

  --animate-fadeIn: fadeIn 0.3s ease-in-out ;

  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

}
